/*		Styles to set the banner fonts, colors, and sizes 			*/

.banner {
	margin: auto;
	background-color: #0D1B1E;
	color: #CFEBDF;
	padding: 30px;
	text-align: center;
}

.banner h1 {
	font-size: 70px;
	font-family: "Permanent Marker", "Times New Roman", serif;
}

.banner h3 {
	font-size: 30px;
	font-family: "Permanent Marker", "Times New Roman", serif;
}

/*			Controls the styles for the body 				*/

body {
	background-color: #CFEBDF;
	font-family: Roboto, Arial, sans-serif;
	color: #0D1B1E;
	text-align: center;
}

/* 			Specifically sets the sizing and alignment of the articles in main 			*/

main div article {
	width: 40%;
	margin: auto;
}

main div article ul {
	width: 40%;
	margin: auto;
	text-align: left;
}

main div article ol {
	width: 40%;
	margin: auto;
	text-align: left;
}

/*			Controls the hr styles and coloring 				*/

hr {
	width: 40%;
	height: 2px;
	border: none;
	background-color: #0D1B1E;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*			Sets image sizing and borders 				*/

img {
	width: 40%;
	border: 2px solid #0D1B1E;
	border-radius: 20%;
	margin-top: 5px;
}

/*			Pseudo class for the link to change the initial color 				*/

a:link {
	color: #1098F7;
}

a:visited {
	color: #0D1B1E;
}

a:hover {
	color: #DB3069;
	text-decoration: none;
}